ZendeskIntegrationTest.xcodeproj/project.xcworkspace/xcuserdata/rustem.xcuserdatad/UserInterfaceState.xcuserstate
ZendeskIntegrationTest.xcodeproj/xcuserdata/rustem.xcuserdatad/xcschemes/xcschememanagement.plist
